body{
    /* background: #000000;  */
    /* background: linear-gradient(to right,  #000000 0%,#0a1852 100%); */
    background-image: linear-gradient(to right, #000000 0%, #304352 100%);
    height: 100vh;
}
#mainDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 65vh;
}

#input {
    width: 70%;
}

.row {
    width: 89%;
}

.input {
    width: 70%;
}

#mainDiv2 {
    display: none;
}

#mainDiv3 {
    display: none;
}
#modal {
    display: none;
    width: 100%;
}
#modal{
    position: absolute;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4)
}
#inputsDiv{
    position: absolute;
    width: 45%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#tableDiv{
    position: absolute;
    width: 100%;
    color: white;
}
table{
    width: 100%;
}
#div{
    margin-top: 8%;
    margin-left: 15%;
}
/* .input-group-prepend{
    width: 28% !important;
}
.input-group-prepend div{
    width: 100%;
}
.input-group-prepend label{
    width: 100%;
} */